<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加表单</title>
</head>
<body>
<center>
    <div class="location">Go位置: <a href="__MODULE__/Index/index">首页</a> >  <a href="__MODULE__/Good/index">商品列表</a>  > <a href="__MODULE__/Good/add">商品添加</a>  </div>
    <h2 class="t2"><if condition="$action eq 'add'">新增<else/>编辑</if>商品</h2>
    <form enctype="multipart/form-data" action="__URL__/{$action}" method="post">
        <input type="hidden" name="id" value="{$result.id}">
        <table  border="0"  cellspacing="0">
            <tr>
                <td><label for="txtname">名称：</label></td>
                <td><input type="text" id="txtname" name="name"  value="{$result.name}"/></td>
            </tr>
            <tr>
                <td class="title">图片：</td>
                <td><input type="file" name="accessory" id="accessory" value="" >
                    <if condition="$action eq 'banner_edit'"><a href="/Uploads/{$result.accessory}" target="_blank">{$result.accessory}</a></if>
                    针对首页
                </td>
            </tr>
            <tr>
                <td><label for="txtpswd">描述：</label></td>
                <td><textarea  id="txtpswd" cols="20" rows="5" name="info"  >{$result.info}</textarea></td>
            </tr>
            <tr>
                <td class="title">是否显示：</td>
                <td><label><input type="radio" name="is_show" value="1" <if condition="$result.is_show eq 1">checked="checked"</if> checked="checked">是</label> &nbsp; <label><input type="radio" name="is_show" value="2" <if condition="$result.is_show eq 2">checked="checked"</if>> 否</label></td>
            </tr>
            <tr>
                <td colspan=2>
                    <input type="reset"  value="重置"/>
                    <input type="submit"  value="提交"/>
                </td>
            </tr>
        </table>
    </form>
</center>
<div></div>
</body>
</html>