<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>crm后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css">
	<script src="__PUBLIC__/Js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/Js/jQuerycode.js" type="text/javascript"></script>
	<!--jbox 提示插件-->
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/JBox/Skins/Gray/jbox.css"/>
	<script type="text/javascript" src="__PUBLIC__/JBox/jquery.jBox.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/JBox/jquery.jBoxConfig.js"></script>
</head>
<body onload="button_change()">
<div id="header">
	<ul class="rlink">
		<li class="s1"></li>		
	</ul>
</div>
<script>
function send_msg(){
		var user_num = $("#user_num").val();
		if(user_num == ""){
			$.jBox.tip("员工编号不能为空!","友情提示");					
			$("#user_num").focus();
			return false;
		}
		var mobile= $("#mobile").val();
			if(mobile == ""){
				$.jBox.tip("手机号码不能为空!","友情提示");					
				$("#mobile").focus();
				return false;
			}
			$.ajax({
										url:"__URL__/batch_exe",
										type:"post",
										data:{"user_num":user_num,"mobile":mobile},
										success:function(data){	
											if(data==1){													
													//发送手机验证码
												 sendToMsgCode(mobile);
													
											}else{
												$.jBox.tip("员工编号和手机号码不匹配","友情提示");
												return false;
											}
											
										}
									});	
}

function sendToMsgCode(mobile){
		$.ajax({
										url:"__URL__/send_to_msg",
										type:"post",
										data:{"mobile":mobile},
										success:function(data){										
											if(data==1){
													left_seconds = 60;
													msgSendToTip();	
													$.jBox.tip("发送成功","友情提示");														
											}else{
												$.jBox.tip("动态码发送失败，请重新操作","友情提示");												
												return false;
											}
											
										}
									});	
}

var left_seconds = 60;
function msgSendToTip()
{
	var mobile = $('#mobile').val();
	$("#user_getcode").unbind('click');
	timeIntervalId=setInterval(function(){
		if(left_seconds<=1){
		    $('#user_getcode').removeClass('disable');
			$('#user_getcode').css({"cursor":"pointer"}); 
			$("#user_getcode").html("重新发送");
			clearInterval(timeIntervalId);
			$('#user_getcode').bind('click',function(){
				if(checkMobile()){
					var mobile = $('#mobile').val();
					sendToMsgCode(mobile);
				}
			});
			left_seconds = 10;
			return;
		}
		left_seconds--;
		$('#user_getcode').addClass('disable');
		$('#user_getcode').css({"cursor":"auto"});
		$("#user_getcode").html(left_seconds+"秒后重发");
	}, 1000);
}
</script>
<div id="main">
	<div class="mainbox">
		<div class="shbox">
			<h2 class="t2">忘记密码</h2>
			<div class="shcon">
				<div class="newcus">
					<table class="btable">
						<tr>
							<td class="title"> 员工编号：</td>
							<td><input type="text" class="nt3" name="user_num" id="user_num" onkeyup="change_upper()"></td>		
						</tr>
						<tr>
							<td class="title">手机号码：</td>
							<td><input type="text" class="nt3" name="mobile" id="mobile" onkeyup="change_password()">
							<!--<input type="button" value="发送验证码" id="user_getcode" onclick="send_msg()" >-->
							<a href="#" id="user_getcode" onclick="send_msg()" class="mbtn">发送验证码</a>
							</td>
						</tr>
						<tr>
							<td class="title">手机验证码：</td>
							<td><input type="text" class="nt1" name="verify" id="verify" onblur="check_berify()"></td>
						</tr>
						<tr>
							<td class="title">新密码：</td>
							<td><input type="text" class="nt1" name="password" id="password" ><font color="red">&nbsp;密码为明文，方便记忆！</font></td>
						</tr>
						<tr>
							<td class="title">注意：</td>
							<td><font color="red">如果提示修改失败，可能是你忘记的密码！</font></td>
						</tr>
					</table>
				</div>
				<div class="sh_op"><a href="#" class="shbtn" id="check_update1" onclick="sub_check()">修改</a> <a href="javascript:history.go(-1);" class="shbtn">取消</a><a href="__URL__/login" class="shbtn">登录</a></div>
			</div>
		</div>
	</div>
</div>
<script>
	function button_change(){
		//$("#check_update1").attr("class","#");
		//$("#check_update1").attr("onclick","#");
		//$("check_update1").removeAttr("class");
	}

	function check_berify(){
	var verify = $("#verify").val();
	var mobile = $("#mobile").val();
			$.ajax({
								url:"__URL__/check_verify",
								type:"post",
								data:{"verify":verify,"mobile":mobile},
								success:function(data){		
									if(data==2){
											$.jBox.tip("验证码错误","友情提示");
											$("#verify").val("");
										   return false;													
									}									
								}
							});	
	}
</script>
<script>
	function change_upper(){		
		document.getElementById("user_num").value = $.trim(document.getElementById("user_num").value.toUpperCase());
	}
	function change_password(){
		document.getElementById("mobile").value = $.trim(document.getElementById("mobile").value);
	}
</script>
<script>
						function sub_check(){						
						var user_num = $("#user_num").val();
						var mobile= $("#mobile").val();
						var verify = $("#verify").val();
						var password = $("#password").val();
						if(user_num == ""){
							$.jBox.tip("员工编号不能为空","error");
							return false;
						}
						if(mobile == ""){
							$.jBox.tip("手机号码不能为空","error");
							return false;
						}
						if(verify == ""){
							$.jBox.tip("验证码不能为空","error");
							return false;
						}
						if(password == ""){
							$.jBox.tip("新密码不能为空","error");
							return false;
						}
						$.ajax({
										url:"__URL__/upd_status",
										type:"post",
										data:{"user_num":user_num,"password":password},
										success:function(data){										
											if(data==1){													
													$.jBox.tip("修改成功，请登录","success");
													//window.location.href = "__URL__/login"  //跳转到登录页面
											}else{
													$.jBox.tip("修改失败","error");
											}
											
										}
									});	
						}
</script>
<div class="footwhite"></div>
<div id="footer">CopyRight © 2014 ©  北京东方富通投资管理有限公司版权所有 </div>
</body>
</html>